<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        background-color: #EEF2FF;
        font-family: Arial, Helvetica, sans-serif;
    }
    div.center {
        margin: auto;
        width: 70%;
    }
    div.form {
        margin: auto;
        width: fit-content;
    }
    tr td:first-child {
        background-color: #9988EE;
        border: 1px solid black;
        border-radius: 3px;
        padding-left: 5px;
        padding-right: 5px;
    }
    input[type="text"], input[type="file"] {
        width: 300px;
    }
    div.post {
        background-color: #D6DAF0;
        border: 1px solid #A8ABBD;
        padding: 10px;
        border-radius: 5px;
        width: fit-content;
        min-width: 500px;
        overflow: auto;
        margin-bottom: 10px;
    }
    span.subject {
        color: #ebb134;
        color: purple;
        font-weight: bold;
        font-size: 20px;
    }
    span.name {
        color: #117743;
    }
    span.post_report {
        color: red;
        float: right;
    }
    p.comment {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }
    img.post_img {
        margin-right: 20px;
    }
    h2.thread_link {
        text-align: right;
        padding: 0;
        margin: 0;
    }
</style>