<div class="post">
    <span class="subject">%s</span> &emsp; <span class="name">%s</span> <span class="timestamp">%s</span>
    <span class="post_id">No.%ld</span> <a href="/report?post_id=%ld" style="text-decoration: none;"><span class="post_report">[REPORT]</span></a>
    <hr>
    <a href="/uploads/%s" target="_blank"><img class="post_img" src="/uploads/%s" width="200px" height="200px" style="float: left;"></a>
    <p class="comment">%s</p>
    <a href="/thread/%ld"><h2 class="thread_link">Read thread &gt;&gt;&gt;</h2></a>
</div>